<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/styles.css" />
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <div class="glass-container">
        <nav class="navbar">
          <ul class="nav-links">
            <li class="nav-link"><a href="#">Dash Board</a></li>
            <li class="nav-link"><a href="/track-record">Track Record</a></li>
            <li class="nav-link"><a href="#">About Us</a></li>
          </ul>
        </nav>
        <div class="prompt">
          <div class="main">
            <h2>Fruit Sorter</h2>
            <div class="image-wrapper">
              <img src="/video_feed " alt="No Camera Detected" />
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. <br />
              Sequi nulla odit pariatur ab velit sapiente dolorem <br />
              totam corporis iure? Perferendis odit deleniti autem <br />
              molestiae ullam! Alias ratione architecto dolore aliquam.
            </p>
            <form method="post" action="/inference">
              {% if not inferencing %}
              <button type="button" onclick="openPopup()">New Batch</button>
              {% else %}
              <button type="submit" id="stopBtn" value="False" name="inference">
                Stop
              </button>
              {% endif %}
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="pop-up-overlay">
      <div class="pop-up">
        <h2>Select a Fruit</h2>
        <form method="post" action="/select_fruit">
          <div class="radio-tiles">
            <input
              class="radio__input"
              type="radio"
              value="apple"
              name="fruit"
              id="apple"
            />
            <label class="radio__label" for="apple">Apple</label>
            <input
              class="radio__input"
              type="radio"
              value="lemon"
              name="fruit"
              id="lemon"
            />
            <label class="radio__label" for="lemon">Lemon</label>
            <input
              class="radio__input"
              type="radio"
              value="orange"
              name="fruit"
              id="orange"
            />
            <label class="radio__label" for="orange">Orange</label>
          </div>
        </form>
        <div class="popBtn">
          <form method="post" action="/inference">
            {% if not inferencing %}
            <input type="hidden" name="inference" value="True" />
            <button type="button" onclick="if (check()) this.form.submit();">
              Start
            </button>
            {% endif %}
          </form>
          <p id="error-message" style="color: red; display: none">
            Please select a fruit.
          </p>
        </div>
      </div>
    </div>

    <script src="/static/index.js"></script>
  </body>
</html>
